*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 70%;
    min-height: 100vh;
    margin: 0 auto;
}

.cotainer{
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.todo_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    border-radius: 8px;
    margin-top: 32px;
    background-color: antiquewhite;
}
.todo_title{
    font-size: 2.5rem;
}
.todo_div{
    display: flex;
    margin-top: 16px;
}
.todo_input{
    width: 300px;
    height: 60px;
    padding: 6px 8px;
    font-size: 0.9rem;
    border-radius: 4px 0 0 4px;
    border: none;
    outline:none;
    
}
.todo_btn{
    padding: 6px 8px;
    font-size: 2rem;
    border-radius: 0 4px 4px 0;
    border: none;
    outline: none;
    background-color: aliceblue;
    cursor: pointer;
    transition: 0.3s ease all;
}
.todo-btn:hover{
    background-color: red;
}
.todo-container{
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    border-radius:8px ;
    margin-top: 16px;
    background-color: antiquewhite;
}
.todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo_left{
    display: flex;
    align-items: center;
}
.todo-text, .todo-edit{
    margin-left: 8px;
}
.todo_cb:checked ~ .todo_text{
    text-decoration: line-through;
    color: gray;
}