*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    width: 50%;
    margin: 0 auto;
}
.content{
    width: 360px;

}
.content h1{
    text-align: center;
}
.content .container{
    border: 2px solid rgb(5, 111, 176);
    height: 600px;
    background-color: rgb(181, 151, 108);
    padding: 10px 20px ;
    border-radius: 20px;
}


.content .container #inputFied{
    height: 50px;
    border: 1px solid #999;
    font-size: 25px;
    outline: none;
    vertical-align: middle;
    border-radius: 10px;
}

.container #addButon{
    cursor: pointer;
    position: relative;
    top: 4px;
    height: 50px;
    width: auto;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid gold;
    transition: .4s ease;
}
.container #addButon:hover{
    background-color: aquamarine;
}
.container .todo{
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    cursor: pointer;
}
.container .todo li{
    list-style: decimal-leading-zero;
}


